.AknFieldContainer .AknFieldContainer-inputContainer input {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 8px;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.alert-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.alert-error {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}
